.orderdetailgradient-custom {
    /* fallback for old browsers */
    background: #7A7F34;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to top left, #7A7F34, rgba(246, 243, 255, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top left, #7A7F34, rgba(246, 243, 255, 1))
    }

    details {
        background-color: #f0edcc;
        padding: 5px;
      }
      
      details summary {
        padding: 10px;
        font-size: 22px;
        color: #7A7F34;
      }
      
      details p {
        padding-left: 30px;
        color: #7A7F34;
        font-size: 18px;
        line-height: 1.2;
        margin: 5px;
      }